.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    font-size: 60px;
    text-align: center;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
}